<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IoT group assignment</title>
    <link rel="stylesheet" href="/static/main-css.css" />
</head>
<body>
    <h1>Welcome to our IoT group Assignment</h1>
    <p>This is the web page and interface for our IoT system. </p>

    <div class="div--border">
        <h4>Arduino data</h4>
        <p>There are 2 Arduinos with sensors in the system. They are used to sense the environmental conditions of the environment of the team member's workstation</p>
        
        <p>If you'd like to look at the individual data please click the links below</P>

        <p><a href="http://ec2-52-87-21-173.compute-1.amazonaws.com/app/devices/Nicholas-Arduino">Nicholas's workstation</a></p>
        <p><a href="http://ec2-52-87-21-173.compute-1.amazonaws.com/app/devices/ryansArduino">Ryan's workstation</a></p>        
    </div>
    <div class="div--border">
        <h4>Statistics</h4>
        <p>To see the calculated standard deviation, mean and variances, <a href="/analytics">Click here</a></p>        
    </div>    
    <div class="div--border">
        <h4>Configurable rules</h4>

        <p>The current approximate temperature of the office is: <b>{{sensor_avg_temp}}</b></p>
        <p>Therefore, the heater's setting should be: <b>{{actuator_setting}}</b></p>
        <p>To add or change some rules in the system, <a href="/app/rules">Click here</a></p>    
    </div>
    
</body>
</html>
